@font-face {
    font-family: 'Ethnocentric Rg';
    src: url('EthnocentricRg-Italic.woff2') format('woff2'),
        url('EthnocentricRg-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

